{% extends "base.html" %}
{% block content %}
    <h2>Register a New Student</h2>
    <form action="/register" method="POST">
        <label>Student ID:</label><br>
        <input type="number" name="student_id" required><br><br>

        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Grades (comma separated, 90,85,92):</label><br>
        <input type="text" name="grades"><br><br>

        <button type="submit">Register</button>
    </form>
{% endblock %}